
<suite name="Suite1">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="qa.com.test.testcases.RegisterTestcase"/>
      <methods>
      <include name="RegisterManualEmailPasswordcorrect"/>
       <include name="EmailFacebookRegister"/>
        <include name="GoogleRegisterTestcase"/>
       
    
      </methods>
      
         <class name="qa.com.test.testcases.LoginTestcase"/>
      <methods>
      <include name="LoginManualEmailPasswordcorrect"></include>
       <include name="EmailFacebookLogin"/>
        <include name="GoogleLoginTestcase"/>
       
    
      </methods>
       <class name="qa.com.test.testcases.SellerOnboardingTestcase"/>
      <methods>
      <include name="sellerOnboardingUsingDataBaseskill"></include>
  
      </methods>
      
       <class name="qa.com.test.testcases.BuyerRegistrationTestcase"/>
      <methods>
      <include name="buyerRegistrationNonasIndividual"></include>
  
      </methods>
      
      
      
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- Suite1 -->
